# Django / Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.env
.env.*
.venv/
venv/
ENV/
*.log

# Django files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

